.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 999;
  color:white;
}

.jumbotron {
  background-color: limegreen;
  padding:35px 0 35px 0;
}

.img-max-width {
  width:100%;
  height: auto;
}

.navbar-inverse .navbar-nav > li > a {
  color : white;
}
